{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% block title %}صفحه اصلی{% endblock %}
{% block content %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 padding-right">
                    <div class="features_items"><!--RetailSale_items-->
                        <a href="shop-2.html"><h2 class="title text-center">آخرین کتاب ها</h2></a>
                        <div id="new-item-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    {% for latest_book in latest_books %}
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        {% if latest_book.image %}
                                                            {% thumbnail latest_book.image "330x380" quality=90 crop='center' as im %}
                                                                <img src="{{ im.url }}" alt="">
                                                            {% endthumbnail %}
                                                        {% else %}
                                                            {% thumbnail "/static/images/prduct-detail/1.jpg" "268x250" quality=90 crop='center' as im %}
                                                                <img src="{{ im.url }}" alt="">
                                                            {% endthumbnail %}
                                                        {% endif %}
                                                        <h2>{{ latest_book.title}}</h2>
                                                        <p>{{ latest_book.author}}</p>
                                                        <a href="{% url 'BookDetail' pk=latest_book.pk %}" class="btn btn-default add-to-cart"><i class="fa"></i>جزئیات</a>
                                                    </div>
                                                    <div class="product-overlay">
                                                        <div class="overlay-content">
                                                        <h2>{{ latest_book.title}}</h2>
                                                        <p>{{ latest_book.author}}</p>
                                                            <a href="{% url 'BookDetail' pk=latest_book.pk %}" class="btn btn-default add-to-cart"><i class="fa"></i>جزئیات</a>
                                                        </div>
                                                    </div>
                                                </div>
{#                                                <div class="choose">#}
{#                                                    <ul class="nav nav-pills nav-justified">#}
{#                                                        <li>#}
{#                                                            <a href="#">#}
{#                                                                <i class="fa fa-plus-square"></i>لیست علاقه مندی ها#}
{#                                                            </a>#}
{#                                                        </li>#}
{#                                                        <li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>#}
{#                                                    </ul>#}
{#                                                </div>#}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div><!--RetailSale_items-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}