{% load thumbnail %}
<header id="header"><!--header-->
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4" style="text-align: left;">
					</div>

					<div class="col-sm-8 header-middle-menu">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
                                {% if not user.is_authenticated %}
                                    <li><a href="{% url 'login_page'%}"><i class="fa fa-lock"></i> ورود</a></li>
                                    <li><a href={% url 'register_page' %}><i class="fa fa-lock"></i> ثبت نام</a></li>
                                {% else %}
                                    <li><a href="#"><i class="fa fa-user"></i> حساب کاربـری</a></li>
                                    {% if user.is_superuser %}
                                        <li><a href="/admin"><i class="fa fa-user"></i> ادمین</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'logout_page' %}"><i class="fa fa-lock">خروج</i></a></li>
                                {% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->

		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">

					<div class="col-sm-3">
						<div class="search_box pull-left">
							<input type="text" placeholder="جستـجو"/>
						</div>
					</div>

					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-right">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="{% url 'home_page' %}" class="{% if request.resolver_match.url_name == "home_page" %}active{% endif %} ">خـانه</a></li>
								<li><a href="{% url 'BookList' %}" class="{% if request.resolver_match.url_name == "BookList" %}active{% endif %}" >کتاب ها</a>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
